/* Base Color Palette from <https://github.com/vuejs/theme> */
:root {
  /*Theme Palette*/
  --dark-matcha: #44624A;
  --matcha: #8BA888;
  --light-matcha: #C0CFB2;
  --cream: #F1EBE1;
  --white: #FFFFFF;

  /*Bonus Colors*/
  --pastel-red: #ff6961;
  --pastel-yellow: #ffd500;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
}

/* Semantic Color Variables for this project */
:root {
  /* Dark theme variables */
  --color-background: var(--cream);

  --primary-color: var(--dark-matcha);
  --secondary-color: var(--light-matcha);
  --section-gap: 160px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light theme variables */
    --color-background: var(--cream);

    --primary-color: var(--dark-matcha);
    --secondary-color: var(--light-matcha);
    --tertiary-color: var(--matcha);

    --section-gap: 160px;
  }
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--primary-color);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}